html {
    font-size: 20px;
}


body {
    font-family: "Arial","Miryo",sans-serif;
    text-align: center;
}


h1 {
    font-size: 40px; 
    font-family: "Josefin Sans", sans-serif;
    border-bottom: solid;
    letter-spacing: 1.2em;
    text-shadow: 3px 3px 6px gray;

 }   


#basic > p {
    font-weight: bold;
      }


.text-pink {
    color: rgb(255, 192, 203)
}


.text-skyblue { 
    color: skyblue;
}